# volumes
/logs
/db

/.env.*

# IDE setting
## PhpStorm
.idea


###> symfony/framework-bundle ###
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/symfony/.phpunit
/symfony/.phpunit.result.cache
/symfony/phpunit.xml
###< phpunit/phpunit ###
