{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    <h1>Create new Auteur</h1>
    <div class="col-md-4">
        {{ include('auteur/_form.html.twig') }}
    </div>
    <a href="{{ path('auteur_index') }}">back to list</a>
{% endblock %}
